*.aux
*.pdf
*.log
/lib
/classes
libs/sootclasses-trunk.jar
soot-rb.jar
/paper/RootbeerClassLoaderAnalysis/nbproject/private/
/paper/RootbeerClassLoaderAnalysis/build/
/paper/RootbeerClassLoaderAnalysis/dist/